<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="box-form-inline">
        <%= simple_form_for :session, url: login_path, wrapper: :inline_form, html: { class: "form-inline"} do |f| %>
          <%= f.input :username, autofocus: true, placeholder: "Username" %>
          <%= f.input :password, placeholder: "Password" %>
          <%= f.button :submit, "Log In", class: "btn btn-primary" %>
        <% end %>
      </div>    
    </div>
  </div>
</div>