<div class="col-md-3">
	<div class="row">
		<div class="col-xs-12">
			<%= link_to "#",  class: "link_to" do %>
				<%= image_tag guitar.url, class: "small_image" %>
			<% end %>	
		</div>
	</div>
</div>

