<div class="container">
	<% @finished_guitars.each do |guitar| %>
	<ul>
		<li><%= link_to guitar.title, finished_guitar_path(guitar) %>
			<%= link_to "Destroy", guitar, method: :delete, data: {confirm: "Are you sure?"} %>
		</li>
	</ul>
	<% end %>
</div>