<!-- <div class="container">
	 <div class="col-md-10 offset-md-1 col-xs-12">
	 	
	 </div>
	


</div> -->


<div class="container">
	<h1><%= @finished_guitar.title %></h1>
	<p><%= @finished_guitar.description %></p>

	<% @finished_guitar.attachments.each do |g| %>
		<%= image_tag g.image.url %>
	<% end %>
</div>