<div class="container">
	<div class="row">
		
		<div class="col-md-10 col-xs-12">
			<h1><%= @finished_guitar.title %></h1>
			<p><%= @finished_guitar.description %></p>
				<% @finished_guitar.attachments.each do | guitar| %>

				

					<%=image_tag guitar.url %>



				<% end %>
			
		</div>
	</div>
</div>