// Define variables for your color scheme

// For example:
$red: #EE5F5B !default;
$blue: #469AE0 !default;
$yellow: #FDB631 !default;
$orange: #E67E22 !default;
$green: #32B796 !default;
$gray: #141414 !default;
$light-gray: #F4F4F4 !default;
$gold: #AB813E;
$dark-gold: #75521a;