<div class="modal fade bd-example-modal-lg" id=about_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
        <h4 class="modal-title"> <%= image_tag( Customization.instance.avatar_url.present? ? Customization.instance.avatar_url : "https://s3-eu-west-1.amazonaws.com/leschnerguitars/images_site/ivan.jpg", class: "avatar_modal")%> About me </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal_text">
        <div id="about">
          <% if Customization.instance.about.present? %>
            <p><%= simple_format Customization.instance.about %></p>
            <% else %>
            <p>I am Ivan Leschner. I was born in 1987 in a small city called Florencio Varela, 30 km away from the city of Buenos Aires, Argentina.
            </p>
            <p>Around 2004 I started playing guitar with a US brand Strat, and shortly after I began searching for the sound I really wanted.
            </p>
            <p>First I tried doing mods on that strat, changing pickups or even putting a Korean Tele neck on it to see how that could change the sound. After so many guitars came my first “real strat”, made by the man that later would become my professor: Ricardo Miranda. That guitar had a Brazilian Rosewood fingerboard with clay dots and handmade alnico II pickups. From that time, I realized that it is possible to build a guitar that sounds and plays like you want, and I decided to study with him.</p>

            <p>After talking to Ricardo, I became keener on acoustic guitars, so that’s what my classes were about. We built one of my favorite acoustic guitars to date, an OM with Brazilian Rosewood back and sides.</p>

            <p>Since then, it´s all about you can see on the pictures. I built my first Strat and Teles on my workplace, with the goal of making progresses on each guitar, and giving my costumers the possibility to have a unique instrument that is able to meet not only their expectations, but mines.</p>
            
          <% end %>
        </div>
      </div>     
    </div>
  </div>
</div>