<div class="container">
	<div class="row">
		<div class="col-md-10 col-offset-md-1 col-xs-12">
			<%= simple_form_for @video do |f| %>
				<%= f.input :url %>
				<%= f.button :submit %>		
			<% end %>
		</div>
	</div>
</div>