<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class='big_title'>MEDIA</h1>
			<hr>
		</div>
	</div>

	<div class="row">
		<% @videos.each do |video| %>	
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="youtube_frame">
					<iframe allowfullscreen="" frameborder="0" height="160" width="260" src="<%= video.embed %>"></iframe>
					<br>
					<i><%= video.created_at.strftime("%B %d, %Y") %>&nbsp&nbsp</i> 
					<% if admin_conneted? %>
						<%= link_to video_path(video), method: :delete, data: {confirm: "Are you sure?"}, class: "delete_link"  do %>
							<i class="fas fa-trash-alt trash">&nbsp&nbsp</i>
						<% end %>
						<%= link_to edit_video_path(video), class: "edit_link" do %>
							<i class="fas fa-edit edit">&nbsp&nbsp</i>
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>	
	</div>


	</div>
</div>