.btn-primary, .btn-primary:hover {
	background-color           : $gold;
	border-color               : $gold;
}

.btn-danger, .btn-danger:hover {
	background-color           : $orange;
	border-color               : $orange;
}



.delete_link, .edit_link {


		color: $orange;
	
}