/*
*= require photoswipe
*/


// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
// Your CSS partials
@import "layouts/index";
@import "components/index";

.modal_text {
	margin: 10px;
}

.img_modal {
	height: 50px;
	border-radius: 50%;
}

.modal-header {
	height: 80px;
}

#span_uploader{
	visibility: hidden;
}

#label_uploader {
	width: 150px;
	height: 45px;
}