.box {
  margin              : 10px auto;
  padding-bottom      : 10px;
  width               : 260px;
  box-shadow          : 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  border-radius       : 3px;
  text-align          : center;
  background-color    : #fff;
  box-shadow          : 0 1px 2px rgba(0,0,0,0.15) !important;
  transition          : box-shadow 0.3s ease-in-out !important;
  
  img {
    padding             : 10px;
    object-fit          : cover;
    width               : 260px;
    height              : 150px;
    background-position : center center;
    background-repeat   : no-repeat;
    display             : inline-block;
  }
  small {
    color               : $gray;
  }
  h5 {
    color             : $gray;
  a:hover {
    text-decoration   : none;
    }
  }
}

.box:hover{
  box-shadow          :  0 5px 25px rgba(0,0,0,0.8) !important;
}


.youtube_frame {
  margin: 10px auto;
  padding-bottom: 10px;
}