.content-custo {
	padding: 30px;
}

.custo-boxes {
	padding: 10px;
}

.set_images, .set_about, .set_colors {
	h4 {
		color: $gold;
	}
}

.set_images, .set_about, .set_colors {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 40px;
}


.picker {
	padding: 20px;
}

.btn-reset {
	background-color: #E51515;
	color: #fff;
}

.btn-reset:hover {
	background-color: #E51515;
	color: #fff;
}
