.content-custo {
	//background-color: #fff;
	padding: 30px;
}

.custo-boxes {
	padding: 10px;
	h4 {
		color: $gold;
	}
}


.set_images, .set_about {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 40px;
}
