#guitars_gallery{
  margin-top: -100px;
	text-align: center;
}

.small_image {
	padding: 10px;
	border: 1px solid #DDD;
	object-fit: cover;
	width: 180px;
  height: 180px;
  background-position: center center;
  background-repeat: no-repeat;
  display:inline-block;
  border:0;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);   
}

.border_image{
  border: 6px  solid #fff;
}

.small_image:hover {
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

#admin_tasks {
  visibility: hidden;
}

#close-admin {
  visibility: hidden;
}

#open-admin{
  margin-top: 10px;
}

.trash {
  visibility: hidden;
  transform: scale(0);
  color: $orange;
}