body {
  color              : #333;
  background-color: #E2E2E2;
  font-family        : verdana, arial, helvetica, sans-serif;
  font-size          : 13px;
  line-height        : 18px;
}

h1, h2, h3 {
  font-family: 'leschnerfont' !important
}

.text-gold{
  color: #75521a;
  font-size: 18px;
}

.btn-gold {
  background-color: #75521a !important;
  color: #eee !important;
}

a:link {
  text-decoration: none;
}