.nav-link {
  padding-right    : .5rem !important;
  padding-left     : .5rem !important;
}

.ml-auto .dropdown-menu {
  left             : auto !important;
  right            : 0px;
}

.navbar {
  background-color : $gray!important;
  z-index: 1000;
  margin-bottom: 40px;

  .leschner-brand { 
    margin           : 20px;
    font-size        : 20px;
    color            : rgba(238, 238, 238, 1) !important;
  }

  i {
    color            : $gold;
  }

  .dropdown-item {
    color            : #eee;
  }

  .dropdown-item:hover {
    border-bottom    : 1px solid $gold !important;
    transition       : 0.3s ease-in-out;
      i {
    color            : #eee;
      }
  }

  .nav-link:hover { 
    border-bottom    : 1px solid $gold !important;
    transition       : .3s ease-in-out;
  }

  .dropdown-menu {
    position: relative;
    background-color : $gray;
    width            : 200px;
    line-height      : 28px;
    a {
    font-size        : 14px;
    padding-left     : 10px;
    }

    a:hover {
      background-color: rgba(0,0,0,0)!important;
    }
  }

  .dropdown-toggle::after {
    display:none;
  }
}
